body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


.carousel {

  margin-bottom: 4rem;
}
/*posição da imagem*/
.carousel-caption {
  bottom: 10rem;
  z-index: 10;
}

  .carousel-inner {
        width: 100%;
    }

    #meuCarousel{
        position: center;
        width-right: 700px;
        height: 400px;
    }




/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

@media(min-width: 1024px) {
    .item.active {
        overflow: hidden;
        width: 1100px;
        height: 400px;
        margin: 0 auto;
    }
